.add-item__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 10vh);
}

#add-item__img {
    border: none;
    padding: 0;
}

#add-item__img[type="file"] {
    font-size: 14px;
    color: var(--color-texto-gris);
}

#add-item__img::file-selector-button {
    font-size: 14px;
    text-align: center;
    color: var(--color-texto-claro);
    border: solid var(--color-principal);
    background-color: var(--color-principal);
    min-width: 100px;
    width: fit-content;
    padding: 1rem;
}

#add-item__img::file-selector-button:hover {
    background: var(--color-background-claro);
    color: var(--color-principal);
    font-weight: 100;
    box-shadow: none;
}

#add-item__img:focus {
    box-shadow: none;
}

.add-item__btn {
    width: auto;
}

@media screen and (min-width: 768px) {
    .add-item__form {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .add-item__form {
        width: 50%;
        align-self: center;
    }
    
    .boton {
        max-width: none;
    }

    #add-item__img[type="file"] {
        font-size: 16px;
    }

    #add-item__img::file-selector-button {
        font-size: 16px;
    }
}