.banner {
    background: url('../../assets/christmas-tree.jpg') ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100vw;
    height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: .7rem;
    padding-left: 1rem;
    padding-bottom: 4vh;

    color: var(--color-texto-claro);
    text-shadow: var(--color-texto-oscuro) 0.1em 0.1em 0.2em;
}

.banner__title {
    font-size: 22px;
    font-weight: 700;
    
}

.banner__text {
    font-size: 14px;
    font-weight: 600;
}

/* Responsive view Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .banner {
        background-position: 0% 80%;
    }

    .banner__button {
        width: 15%;
    }
}

/* Responsive view Desktop */ 
@media screen and (min-width: 1024px) {
    .banner {
        background-position: 0% 80%;

        width: 100%;
        margin-left: var(--margin-desktop);
        padding-left: var(--padding-desktop);
        padding-right: var(--padding-desktop);
        gap: 1.3rem;
    }

    .banner__title {
        font-size: 52px;
    }
    
    .banner__text {
        font-size: 22px;
    }
}