header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.header__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    padding-top: 1rem;
}

.header__list {
    display: flex;
    align-items: center;
}

.header__list .boton {
    background: var(--color-texto-claro);
    color: var(--color-principal);
    padding: .7rem;
}

.header__list .boton:hover {
    background: var(--color-principal);
    color: var(--color-background-claro);
}

.header__list:nth-of-type(2) {
    order: 3;
}

.header__search-input {
    display: none;
    background-color: var(--color-background-gris-claro);
    border: none;
    padding: .3rem;
    width: 80%;
}

.header__search-img {
    width: 20px;
}

/* Responsive view Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__menu {
        justify-content: baseline;
    }

    .header__list .boton {
        width: 15vw;
    }

    .header__list:nth-of-type(2) {
        order: initial;
    }
    
    .search-bar {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-background-gris-claro);
        padding: .5rem 1rem;
        border-radius: 1.5rem;
        width: 40%;
    }

    .header__search-img {
        filter: var(--color-svg-gris);
    }
    
    .header__search-input {
        display: block;
    }
}

/* Responsive view Desktop */
@media screen and (min-width: 1024px) {
    .header__menu {
        padding: 0;
        padding-top: 1rem;
    }

    .header__list .logo-store {
        width: fit-content;
    }
    
    .header__list .logo__img{
        height: 40px;
    }
    
    .header__list .logo__title {
        font-size: 30px;
    }

    .header__list:nth-of-type(2) {
        order: initial;
    }
    
    .search-bar {
        display: flex;
        justify-content: space-between;
        background-color: var(--color-background-gris-claro);
        padding: .5rem 1rem;
        border-radius: 1.5rem;
        width: 40%;
    }

    .header__search-img {
        filter: var(--color-svg-gris);
    }
    
    .header__search-input {
        display: block;
    }
}