.category {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 0;
}

/*Header's category*/
.category__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}

.category__title-text {
    font-size: 22px;
    line-height: 35px;
    font-weight: 700;
}

.category__title-next {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.category__title-arrow {
    height: 15px;
    filter: var(--color-svg);
}

/*List of categories*/
.category__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.category__box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    width: calc(50% - .5rem);
}

.category__box-img {
    display: flex;
    justify-items: center;
    width: 100%;
    background: white;
}
.category__box-img img {
    width: 100%;
}

.category__box-body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.category__box-text {
    font-size: 14px;
}

.category__box-text:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
}

.category__box__item-price {
    font-size: 16px;
    font-weight: 700;
}

.category__box__item-discount {
    font-size: 12px;
    color: var(--color-texto-gris);
    text-decoration: line-through;
}

.category__box:nth-last-child(-n+2) {
    display: none;
}

/* Responsive view Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .category__box {
        width: calc(25% - .78rem);
    }
}

/* Responsive view Desktop */
@media screen and (min-width: 1024px) { 
    .category {
        padding-left: var(--padding-desktop);
        padding-right: var(--padding-desktop);
    }

    .category__list {
        padding: 1rem 0;
    }

    .category__title{
        padding: 0;
    }
    
    .category__box {
        width: calc(16.6% - 13px);
    }

    .category__box-text {
        font-size: 16px;
    }

    .category__box:nth-last-child(-n+2) {
        display: flex;
    }
}