main {
    padding: 0;
}

span {
    font-size: 12px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 100vh;
}

.contacto__form {
    flex-grow: 0;
}

.login-form {
    background: var(--color-background-gris-claro);
    align-items: center;
}

.login-form__input {
    width: 80vw;
    max-width: 350px;
}

/* Switch see/hide password button */
.switch-button {
    display: inline-block;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: var(--color-texto-gris);
    width: 2rem;
    height: 1rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: white;
    content: '';
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px black;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: var(--color-principal);
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(1rem);
}

/* Responsive view Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .login-form {
        width: 100%;
    }
}

/* Responsive view Desktop */
@media screen and (min-width: 1024px) {
    .login-form {
        width: 100%;
    }

    .login-form__title {
        font-size: 22px;
    }

    .login-form__email, .login-form__pass {
        max-width: 500px;
    }
}