main {
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 100vh;
}

.contacto__form {
    flex-grow: 0;
}

.login-form {
    background: var(--color-background-gris-claro);
    align-items: center;
}

.login-form__input {
    width: 80vw;
    max-width: 350px;
}

/* Responsive view Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .login-form {
        width: 100%;
    }
}

/* Responsive view Desktop */
@media screen and (min-width: 1024px) {
    .login-form {
        width: 100%;
    }

    .login-form__title {
        font-size: 22px;
    }

    .login-form__email, .login-form__pass {
        max-width: 500px;
    }
}